<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboManager.mapper.TbRepairMapper" >
  <resultMap id="BaseResultMap" type="com.laboManager.pojo.TbRepair" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="repair_name" property="repairName" jdbcType="VARCHAR" />
    <result column="repair_date" property="repairDate" jdbcType="TIMESTAMP" />
    <result column="repair_price" property="repairPrice" jdbcType="DECIMAL" />
    <result column="repair_factory" property="repairFactory" jdbcType="VARCHAR" />
    <result column="equipment_id" property="equipmentId" jdbcType="INTEGER" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, repair_name, repair_date, repair_price, repair_factory, equipment_id, createDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.laboManager.pojo.TbRepairExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_repair
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_repair
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.laboManager.pojo.TbRepairExample" >
    delete from tb_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.laboManager.pojo.TbRepair" >
    insert into tb_repair (id, repair_name, repair_date, 
      repair_price, repair_factory, equipment_id, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{repairName,jdbcType=VARCHAR}, #{repairDate,jdbcType=TIMESTAMP}, 
      #{repairPrice,jdbcType=DECIMAL}, #{repairFactory,jdbcType=VARCHAR}, #{equipmentId,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.laboManager.pojo.TbRepair" >
    insert into tb_repair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="repairName != null" >
        repair_name,
      </if>
      <if test="repairDate != null" >
        repair_date,
      </if>
      <if test="repairPrice != null" >
        repair_price,
      </if>
      <if test="repairFactory != null" >
        repair_factory,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="repairName != null" >
        #{repairName,jdbcType=VARCHAR},
      </if>
      <if test="repairDate != null" >
        #{repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repairPrice != null" >
        #{repairPrice,jdbcType=DECIMAL},
      </if>
      <if test="repairFactory != null" >
        #{repairFactory,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.laboManager.pojo.TbRepairExample" resultType="java.lang.Integer" >
    select count(*) from tb_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_repair
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.repairName != null" >
        repair_name = #{record.repairName,jdbcType=VARCHAR},
      </if>
      <if test="record.repairDate != null" >
        repair_date = #{record.repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.repairPrice != null" >
        repair_price = #{record.repairPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.repairFactory != null" >
        repair_factory = #{record.repairFactory,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_repair
    set id = #{record.id,jdbcType=INTEGER},
      repair_name = #{record.repairName,jdbcType=VARCHAR},
      repair_date = #{record.repairDate,jdbcType=TIMESTAMP},
      repair_price = #{record.repairPrice,jdbcType=DECIMAL},
      repair_factory = #{record.repairFactory,jdbcType=VARCHAR},
      equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      createDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.laboManager.pojo.TbRepair" >
    update tb_repair
    <set >
      <if test="repairName != null" >
        repair_name = #{repairName,jdbcType=VARCHAR},
      </if>
      <if test="repairDate != null" >
        repair_date = #{repairDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repairPrice != null" >
        repair_price = #{repairPrice,jdbcType=DECIMAL},
      </if>
      <if test="repairFactory != null" >
        repair_factory = #{repairFactory,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.laboManager.pojo.TbRepair" >
    update tb_repair
    set repair_name = #{repairName,jdbcType=VARCHAR},
      repair_date = #{repairDate,jdbcType=TIMESTAMP},
      repair_price = #{repairPrice,jdbcType=DECIMAL},
      repair_factory = #{repairFactory,jdbcType=VARCHAR},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>